.card__button-delete {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  background: none;
  background-image: url(../../../images/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__button-delete:hover {
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}
